body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* NAVABR STYLE  */

.nav {
    z-index: 3;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 5rem;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease;
    justify-content: space-between;
}

#nav.scrolled {
    /* background: linear-gradient(rgba(172, 172, 172, 0.780), rgba(21, 21, 21, 0.700)); */
   background: rgba(17, 17, 17, 0.3);
backdrop-filter: blur(16px);

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-left-section {
    padding-right: 2rem;
}

.nav-right-section ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    font-size: 20px;

}

.nav_right-list li {
        font-weight: bold;
    padding: 0rem 2rem;

}

.list_item:hover {
    transform: scale(1.12);
    transition: all 0.3s ease;

}

.list_item a {
    text-decoration: none;
    color: white;

}

.list_item:active {
    background-color: black;
    padding: 0.5rem;
    border-radius: 24px;
}


.list_item a:hover {
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg,
            #ff00ff,
            /* Neon Pink */
            #39ff14,
            /* Neon Green */
            #00b3ff
            /* Neon Blue */
        );
    border-image-slice: 1;
}
/* NAVBAR STYLE END */

/* INTRO STYLE */
.intro-section {
  margin: 2rem auto 0rem auto;
  padding: 0;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/assets/intro-bg.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* BACKGROUND TEXT */
.background-text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}
.background-text h1 {
  font-size: 12rem;
  font-weight: 900;
  color: rgba(90, 90, 90, 0.919); /* faded text */
  margin: 0;
  line-height: 0.9;
  letter-spacing: 0.2rem;
}
.color-changed h1{
    color: #30008a;
}
/* ROBOT IMAGE */
.intro-img img {
  position: relative;
  top: 4rem;
  z-index: 2;
  width: 650px;
  max-width: 80vw;
  height: auto;
}

/* ARROW */
.content-load-arrow {
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
  z-index: 3;
}
.img-arrow img {
  width: 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

#loaded-content {
    background: linear-gradient(to bottom, #ffffff, #333333);
    color: black;
}
/* ARROW SECTION STYLE END */

/* SECOND PAGE STYLE */
.home-para {
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.home-para-container {
    margin: auto;
}

.para-1 {
    margin: 4rem auto;
    font-size: 22px;
}

.para-2 {
    margin-top: 2rem;
    font-size: 22px;
}

.redirect-para {
    font-size: 26px;
    margin: 8rem auto;
    font-weight: 100;

}

.redirect-para h1 {
    font-weight: 400;
    align-items: center;
}

.redirect-para a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 0rem;
    align-items: center;
}

.redirect-para a:hover {
    transform: scale(1.12);
    transition: all 0.3s ease;
}

.redirect-para p {
    padding-right: 2rem;
}

.redirect-para img {
    width: 48px;
    height: 48px;
    align-items: center;
}
/* SECOND PAGE STYLE END  */

/* FOOTER STYLE */
footer {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid #D2005A;
}

.footer-container {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo menu copyright"
        "logo socials copyright";
}

.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;

}

.menu ul,
.socials ul {
    font-size: 18px;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu ul {
    gap: 4rem;
    justify-content: space-around;

}

.menu-item a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.menu-item:hover,
.socials-items:hover {
    transform: scale(1.12);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg,
            #ff00ff,
            /* Neon Pink */
            #39ff14,
            /* Neon Green */
            #00b3ff
            /* Neon Blue */
        );
    border-image-slice: 1;
    transition: all 0.2s ease;
}

.socials ul {
    gap: 2rem;
}

.socials {
    grid-area: socials;
    align-items: center;
    padding-top: 2rem;

}

.socials-items img {
    width: 24px;
    height: 24px;
}

.copyright {
     color: rgb(212, 212, 212);
    padding: 1.2rem;
    grid-area: copyright;
    text-align: center;
    font-size: 12px;
    justify-self:end;
    align-self:self-end ;
    
}
/* FOOTER STYLE END */