* {
    
  font-family: "Quattrocento Sans", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are inside the element's total width/height */
}

/* Remove default margin/padding from the body, which often causes the gap */
body {
    margin: 0;
    padding: 0;
}

/* NAVABR STYLE  */


.nav {
    z-index: 3;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 5rem;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease;
    justify-content: space-between;
}

#nav.scrolled {
    /* background: linear-gradient(rgba(172, 172, 172, 0.780), rgba(21, 21, 21, 0.700)); */
background: rgba(17, 17, 17, 0.3);
backdrop-filter: blur(16px);

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-left-section {
    padding-right: 2rem;
}

.nav-right-section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    
    

}

.nav_right-list li {
    font-weight: bold;
    padding: 0rem 1rem;

}

.list_item:hover {
    transform: scale(1.12);
    transition: all 0.3s ease;

}

.list_item a {
    text-decoration: none;
    color: black;

}


.list_item a:hover {
    border-radius: 2px;
    border-bottom: 3px solid transparent;
     border-image: linear-gradient(105deg ,#6666FF,#FF4750 ,#6666FF ) 1;
}
/* NAVBAR STYLE END */



/* MAIN SECTION */
.projects-section {
  text-align: center;
  padding: 8rem 2rem 6rem;
background: linear-gradient(
    to bottom, 
    #ffffff, 
    #f9f9f9 85%,
    rgba(0, 0, 0, 0.4) 95%, 
    rgba(0, 0, 0, 0.8) 100% 
  );}

.projects-heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5f5f5f;
  margin-bottom: 4rem;
font-family: Arial, Helvetica, sans-serif;}

/* MAIN SECTION */

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  gap: 8rem; 
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  width: 600px; 
}

.project-image {

    /* z-index: 9999 ; */
  height: 400px; 
  width: 100%; 
  object-fit: contain; 
  transition: transform 0.3s ease;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.1));
}

.project-image:hover {
  transform: scale(1.05);
}

.project-title {
  margin-top: 1.2rem;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.project-title.red {
  color: #ff4c4c;
}

.project-title.blue {
  color: #5a4cff;
}


/* FOOTER STYLE */
footer {
    font-family: Arial, Helvetica, sans-serif;
     border-top: 4px solid transparent;
    border-image: linear-gradient(to right , #D2005A , #6666FF) 1;
    
}

.footer-container {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo menu copyright"
        "logo socials copyright";
}

.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;
    
}

.menu ul,
.socials ul {
    font-size: 18px;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu ul {
    gap: 4rem;
    justify-content: space-around;

}

.menu-item a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.menu-item:hover,
.socials-items:hover {
    transform: scale(1.12);
    transition: all 0.2s ease;
}

.socials ul {
    gap: 2rem;
}

.socials {
    grid-area: socials;
    align-items: center;
    padding: 1rem;

}

.socials-items img {
    width: 24px;
    height: 24px;
}

.copyright {
     color: rgb(212, 212, 212);
    padding: 1.2rem;
    grid-area: copyright;
    text-align: center;
    font-size: 12px;
    justify-self:end;
    align-self:center;
    
}
/* FOOTER STYLE END */